.productsList {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}

.categoriesSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: var(--main-color);
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 200;
  }
}

.products {
  margin-top: 50px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 1050px) {
  .products {
    &-list {
      max-width: 700px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 700px) {
  .products {
    &-list {
      max-width: 350px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .categoriesSelect {
    flex-direction: column;
    h2 {
      margin-bottom: 25px;
    }
  }
}
