@font-face {
  font-family: "Quiksand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Quicksand.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Montserrat.ttf);
}

:root {
  --main-color: #4f3f80;
  --main-font: "Quiksand", sans-serif;
  --second-font: "Montserrat", sans-serif;
}

* {
  font-family: var(--main-font);
}

p,
h2,
li,
label {
  color: #54595f;
}

html,
body {
  height: 100%;
  overflow-y: visible;
}
